map $host $schuldentracker_sso_secret {
    default "";
    "schuldentracker.${BASE_DOMAIN}" "ce9f59eeb6e129f364291df1ac581b6a3058c66207a506756a8a459118e5de7f";
}

server {
    listen 443 ssl;
    http2 on;
    server_name schuldentracker.${BASE_DOMAIN};
    include /etc/nginx/snippets/ssl.conf;
    set $app_upstream http://172.17.0.1:5050;
    include /etc/nginx/snippets/forward-auth.conf;
}
