server {
    listen 443 ssl;
    http2 on;
    server_name agenda.${BASE_DOMAIN};
    include /etc/nginx/snippets/ssl.conf;
    set $app_upstream http://172.17.0.1:5060;
    include /etc/nginx/snippets/forward-auth.conf;
}
